.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.images{
  height: 100px;
  width: 100px;
  margin-left: 10px;
}

.my-header{
  background-color: rgb(192, 255, 252);
  width: 100%;
  height: 40px;
  position: top;
}

.picture-boxes{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  background-color: rgb(185, 16, 236);
  color: black;
  margin: 5px;
}

.image-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p{
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.selected {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
}